page-welcome {
    #progressbar {
        background-color: #0c0101;
        border-radius: 13px; /* (height of inner div) / 2 + padding */
        padding: 3px;
    }
    #progressbar > div {
        background-color: #fd0202;
        width: 0%; /* Adjust with JavaScript */
        height: 10px;
        border-radius: 10px;
        transition-timing-function: ease;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
    }
    
 
}
